<table>
  <tr id="<%= dom_id @writer %>">
    <td value="<%= @writer.name %>"><%= @writer.name %></td>
    <td><button value="<%= @writer.id %>" class="edit_writer_btn">Edit</button></td>
    <td><button value="<%= @writer.id %>" class="delete_writer">Delete</button></td>
  </tr>
</table>
